<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChamadasUsuario</servlet-name>
        <servlet-class>br.edu.ifsp.spo.pds2016glybif.servlet.ChamadasUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChamadasComentario</servlet-name>
        <servlet-class>br.edu.ifsp.spo.pds2016glybif.servlet.ChamadasComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChamadasOcorrencia</servlet-name>
        <servlet-class>br.edu.ifsp.spo.pds2016glybif.servlet.ChamadasOcorrencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChamadasInteracao</servlet-name>
        <servlet-class>br.edu.ifsp.spo.pds2016glybif.servlet.ChamadasInteracao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChamadasUsuario</servlet-name>
        <url-pattern>/ChamadasUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChamadasOcorrencia</servlet-name>
        <url-pattern>/ChamadasOcorrencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChamadasComentario</servlet-name>
        <url-pattern>/ChamadasComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChamadasInteracao</servlet-name>
        <url-pattern>/ChamadasInteracao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>host</param-name>
        <param-value>http://localhost:8080/</param-value>
    </context-param>
    <context-param>
        <param-name>externalURL</param-name>
        <param-value>https://pdscidadeajuda.ddns.net:8484/</param-value>
    </context-param>
    <listener>
        <listener-class>
            br.edu.ifsp.spo.pds2016glybif.banco.Verificador
        </listener-class>
    </listener>
</web-app>
